.card {
  background: darkslategrey;
  border-radius: 10px;
  height: 150px;
  margin: 1rem;
  position: relative;
  width: 225px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background: darkslategrey;
}
.card > .img-container > img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  border: 4px solid darkslategrey;
  cursor: pointer;
}
